body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1c1c1c;
  color: #000;
}

.top-bar {
  background: #fff;
  color: #000;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

nav {
  background: #f97316;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.logo span {
  color: #ddd;
}

.nav-center {
  display: flex;
  gap: 30px;
  list-style: none;
  justify-content: center;
  flex: 1;
}

.nav-center li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.login a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


nav {
  background: #f97316;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  flex: 1;
}

.nav-center {
  display: flex;
  gap: 30px;
  list-style: none;
  justify-content: center;
  flex: 2;
  margin: 0;
  padding: 0;
}

.nav-center li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.login {
  flex: 1;
  text-align: right;
}

.login a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ED8F32;
  padding:40px 40px;
  flex-wrap: wrap;
  height: 61vh;
}


.text-content {
  max-width: 500px;
}

.text-content h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

button {
  background: #000;
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.benefits {
  background: #111;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  font-size: 16px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.benefits div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-content{
  bottom: 35px;
  right: 35px;
  position: fixed;
}

